[2017-01-04 05:09] velovix opened #1 "Acronyms should have a consistent case"
According to the [Code Review Comments](https://github.com/golang/go/wiki/CodeReviewComments#initialisms) document, which provides style guidelines for Go code:

For that reason, I think functions `IeeeFloatToInt` and `IntToIeeeFloat` should be renamed to `IEEEFloatToInt` and `IntToIEEEFloat`, respectively.

I know this is bikeshedding, but if this library is to become an official interface for Go

[2017-01-04 05:22] mattetti commented on #1
I agree, would you mind sending a PR (I'll fix the other repos and add Travis integration)

[2017-01-04 05:31] velovix commented on #1
Sure!

[2017-01-04 05:36] velovix commented on #1
https://github.com/go-audio/audio/pull/2

[2017-01-04 05:42] #1 closed

[2017-01-04 17:45] mattetti opened #3 "is this API appropriate, especially for real time use"
This discussion is a follow up from [this initial proposal](https://github.com/golang/go/issues/18497). The 2 main arguments that were raised are:

* Is this API appropriate for real time usage (especially in regards to allocation and memory size)
* is the interface too big/not adequate

@egonelbre @kisielk @nigeltao @taruti all brought up good points and Egon is working on a counter proposal focu

[2017-01-04 17:51] egonelbre commented on #3
The link to the alternate design: https://github.com/egonelbre/exp/tree/master/audio

101 of real-time audio http://www.rossbencina.com/code/real-time-audio-programming-101-time-waits-for-nothing

[2017-01-04 18:00] mattetti commented on #3
@egonelbre would you mind squashing your commits for the proposal or maybe send a PR. GitHub really makes it hard to comment on different part of the code coming from different commits :(

[2017-01-04 18:00] taruti commented on #3
Typically when using audio my needs have been:

1) Read from input source (typically system IO + slice of []int16 or []float32)
2) Filter&downsample&convert to preferred internal format (typically []float32)
3) Do all internal processing with that type (typically []float32)
4) Maintain as little latency as possible by keeping cpu and memory allocation (and with that GC) in check

[2017-01-04 18:07] egonelbre commented on #3
@mattetti sure no problem.

@kisielk sure, if you have such sample-based synth you probably need to track what notes are playing, etc. anyways so you would have a `Synth` node that produces float32/float64, i.e. you pay the conversion per synth not per sample. It's not as good as no conversion, but it just means you can have one less-effect overall for the same performance.

[2017-01-04 18:13] egonelbre commented on #3
@mattetti Here you go: https://github.com/egonelbre/exp/commit/81ba19e90fbcb31986c801838a17606c76dfd4d9

[2017-01-04 18:59] kisielk commented on #3
Yes but the "synth" is not going to be limited to one sample, usually you have some number of channels, say 8-16, and each one can choose any part of any sample to play at any time. In my opinion processing audio in float64 is pretty niche, relegated to some high precision or quality filters which aren't commonly used. Even in that case, the data can be converted to float64 for processing just wit

[2017-01-04 19:20] egonelbre commented on #3
@kisielk Yes, also, for my own needs float32 would be completely sufficient.

Forums seemed to agree that in most cases float64 isn't a signifcant improvement. However, if one of the intended targets will be writing audio plugins; then many plugin API-s include float64 version (e.g. VST3) and DAW-s have an option to switch between float32 and float64.

I agree that, if only one should be chosen th

[2017-01-04 19:48] mattetti commented on #3
I agree that `float32` is usually plenty enough but as mentioned my problem is that the Go math package is float64 only. Are we willing to reimplement the math functions we need? It might make sense if we start doing asm optimizations but that's quite a lot of work.

[2017-01-04 19:50] kisielk commented on #3
Again, I don't think it's a binary choice, I just think that both should have equal support within the API. And yes, if I was using Go for realtime processing of audio I would definitely want a 32-bit version of the math package. I don't think the math package needs to dictate any limitations on any potential audio API.

[2017-01-04 19:56] mattetti commented on #3
@kisielk sounds fair, just to be clear, would you be interested in using Go for realtime processing or at least giving it a try? You obviously do that for a living using C++ so your expertise would be invaluable.

[2017-01-04 20:22] egonelbre commented on #3
How much math functions are needed in practice? Initially the package could be a wrapper around `math` to make it more convenient and then start optimizing the bottlenecks. I never needed more than sin/cos/exp/abs/rand; but I've never done anything complicated either.

I suspect some of the first bottleneck and candidate for "asm optimized" code will be []int16->[]float32 conversion, buffer multip

[2017-01-04 20:39] kisielk commented on #3
@mattetti that is something I'm definitely interested in. I'm not exactly a DSP expert, but I work enough with it day to day to be fairly familiar with the domain.

@egonelbre Gain is also a big one that benefits from optimization. (edit: maybe that's what you meant by buffer multiplication, or did you mean convolution?)

[2017-01-04 20:41] egonelbre commented on #3
@kisielk yeah, I meant gain :), my brains language unit seems to be severely malfunctioning today.

[2017-01-04 20:50] taruti commented on #3
math package (trigonometric, logarithmic, etc) with float32 and SIMD optimization for any data type are two different things. In many cases just mult/add/sub/div are needed and for those package math is not needed.

I think that math32 and SIMD are best kept separate from this proposal.

If we are thinking of performance then conversions of buffers without needing to allocate can be important. For

[2017-01-04 20:52] kisielk commented on #3
@taruti +:100:

[2017-01-04 20:54] kisielk commented on #3
Speaking of conversion between buffers, I think it's important the API has a way to facilitate conversion between buffers of different data types *and sizes* without allocation (eg: 2 channels to 1, etc). The actual conversion method would be determined by the application but at least the API should be able to help facilitate this without too much additional complexity.

[2017-01-04 21:55] mattetti commented on #3
Alright, here is my suggestion. I'll add you guys to the organization and we can figure out an API for real time processing and from there see how it works for offline. Ideally I would love to end with:

* a generic audio API (what we are discussing here)
* a list of codecs (I started with wav and aiff, they still need work and refinement but they work)
* a set of transforms (gain, dynamics, eq, l

[2017-01-04 22:00] kisielk commented on #3
That sounds like a good idea to me. However I would propose we limit the scope of the core audio package to the first two points (and perhaps a couple of very general utilities from point 3). I feel like the rest would be better suited for other packages. My main reasoning behind this is that I feel like the first two items can be achieved (relatively) objectively and there can be one canonical im

[2017-01-04 22:14] mattetti commented on #3
I think the audio API should be in its own package and each of those things in separate packages. For instance I have the wav and aiff packages isolated. That's another reason why having a GitHub organization is nice.

[2017-01-04 22:16] kisielk commented on #3
Just noticed that when looking at the org page. Looks good to me 👍

[2017-01-05 03:17] nigeltao commented on #3
There's the original proposal. @egonelbre has an alternative proposal. Here are a couple more (conflicting) API ideas for a Buffer type. I'm not saying that either of them are any good, but there might be a useful core in there somewhere. See also another API design in the github.com/azul3d/engine/audio package.

Reader/Writer-ish:

[code]

Have Buffer be a concrete type, not an interface type:

[

[2017-01-05 03:26] mattetti commented on #3
In addition, here is another comment from @nigeltao about the math library:

I really like this idea which can also apply to log. It might come at an extra memory cost but I am personally OK with that.

Let try to summarize the pros and cons of those different approaches and let's discuss what we value and the direction we want to take. I am now convinced that my initial proposal, while fitting my

[2017-01-05 03:35] nigeltao commented on #3
A broader point, re the proposal to add packages to the Go standard library or under golang.org/x, is that I think it is too early to say what the 'right' API should be just by looking at an interface definition. As rsc said on https://github.com/golang/go/issues/18497#issuecomment-270387898: "The right way to start is to create a package somewhere else (github.com/go-audio is great) and get peopl

[2017-01-05 03:45] nigeltao commented on #3
Back on API design brainstorming and codecs, there might be some more inspiration in the golang.org/x/text/encoding/... and golang.org/x/text/transform packages, which let you e.g. convert between character encodings like Shift JIS, Windows 1252 and UTF-8.

Text encodings are far simpler than audio codecs, though, so it might not end up being relevant.

[2017-01-05 03:50] kisielk commented on #3
Some more API inspiration, from C++:

https://www.juce.com/doc/classAudioBuffer
https://www.juce.com/doc/classAudioProcessor

JUCE is one of the most-used audio processing libraries out there.

[2017-01-05 03:51] kisielk commented on #3
Obviously the API isn't very go-like since it's C++ (and has a fair amount of pre-C++11 legacy, though is gradually being modernized) but it's worth taking a look at how they put things together.

[2017-01-05 04:16] mattetti commented on #3
JUCE uses overloading quite heavily and as mentioned isn't very go-like (it's also a framework more than a suite of library, but it is well written and very popular). My hope is that we can come up with a more modern and accessible API instead of "port", I would really want audio in Go to be much easier for new developers. On a side note, I did port over some part of JUCE such as https://www.juce.

[2017-01-05 04:24] kisielk commented on #3
I'm not suggesting porting it, but I think the concepts in the library are pretty well thought out and cover most of what you would want to do with audio processing. It's worth getting familiar with. I don't think the use of overloading really matters, it's pretty easy to do that in other ways with Go.

[2017-01-05 05:12] mattetti commented on #3
@nigeltao I agree with rsc and to be honest my goal was more to get momentum than to get the proposal accepted. I'm very happy to have found a group of motivated people who are interested in tackling the same issue.

I'll open a couple issues to discuss code styling and "core values" of this project.

[2017-01-05 05:15] mattetti opened #4 "code styling"
I'd like to discuss code styling for a minute. It would be good to agree on a general approach of the code we'd like to write. Here are some examples, I'd like to hear more about what you think

##Code styling

Embedded type and optimized struct sizes

1.

[code]

vs pointers and convenient field types

2.

[code]

---

Convenient but straight forward constructor

3.

[code]

vs DIY approach. (not

[2017-01-05 05:22] kisielk commented on #4
For 1/2. I don't really have an opinion yet. I suspect that a pointer would be preferable but I don't really have any basis for that. I agree that having predefined formats would probably be useful.

3/4. Constructors all the way. It's pretty easy to screw up the buffer size if you're doing it manually.

5/6/7. I think we need to iterate a couple of sample applications to figure this out.

I think

[2017-01-05 05:33] nigeltao commented on #4
1 vs 2: not really either. Embedding is useful to pick up methods, but that's not a big win here. I'd rather explicitly name the field, but drop the pointer indirection:

[code]

You don't need a pointer in the type to provide pre-defined Format values.

3 vs 4: 4 although on a similar note, you might be able to drop the "&".

5 vs 6 vs 7: hard to say in the abstract. It depends on what the Buffer

[2017-01-05 05:37] mattetti commented on #4
@kisielk I have an example like going between `wav` and `aiff` formats. It gets interesting when we add processing such as downsampling. I'll post what I have so we can look at it.

@nigeltao Thanks, your feedback is very much appreciated. We'll ping you once we'll have made more progress to see what you think.

In the meantime, I tried to compare the 2 synth examples @egonelbre and I worked on:

[2017-01-05 05:39] mattetti opened #5 "format converter example"
From @kisielk:

I think the best thing to do would be to write a simple application like a format converter and suss out some of the API. It would:

Accept a file as an input
Have [a] format flag(s) to specify the desired output format
An argument for output filename
Then the application could detect the format of the input file from a known set, and perform a conversion to the desired output type

[2017-01-05 05:50] egonelbre commented on #4
For optimized struct sizes there is also:

[code]

I would go with convenient, without pointers and pay the extra 8 byte cost. When you need to optimize for memory usage, you probably have more knowledge of the whole system and can use a single format in a group of buffers.

---

Constructors or constant defaults.

[code]

---

Interface/type-switching. Here are my arguments:

For the core of proc

[2017-01-05 05:56] kisielk commented on #4
I agree, most of the time a given application will only deal with one buffer format. There may be some rare cases where you want to be able to process differently in float32 or float64, but I feel like in most cases you'd just convert from one to the other. Having to type switch every time you write a Process function is a nuisance so I would prefer to just have separate `Process32` and `Process64

[2017-01-05 06:02] egonelbre commented on #4
I tried to avoid this for few reasons:

[code]

It will be harder to write generic processors such as:

[code]

---

With regards to thread-safety. I think having the "atomic" values in the node is necessary, however we should have examples available how to synchronize, when your audio code runs in a thread.

There could be some package `control` for synchronization:

[code]

[2017-01-05 06:12] kisielk commented on #4
Synchronizing on a per-sample basis seems a bit extreme to me. I think if you were doing any kind of parallel processing it would be at the buffer level. The main use case I can see is where you have a single source feeding multiple destinations and then those are joined together later.

[2017-01-05 06:13] egonelbre commented on #4
We can provide automatic converters:

[code]

Not sure where to allocate/keep the intermediate buffers, for this approach.

Alternative approach would be to implement `Converter` nodes:

[code]

[2017-01-05 06:20] egonelbre commented on #4
Yeah, the `control package` was meant as "call Poll once per buffer". Example:

[code]

[2017-01-05 06:32] egonelbre commented on #4
Yeah... that should have been "...atomic values in the node **are not** necessary...". So, I'm fine with not having atomic controls in `Node`-s. There are other ways of getting the same result.

[2017-01-05 06:45] egonelbre commented on #3
@nigeltao I think my design would also benefit from a `Stream`/`Seeker` (or similar) interface, but I'm not sure what the right approach is. I will try to implement some basic "remote-streaming", to find out what is essential. I have a feeling that it could fit together with `Buffer32` nicely.

[2017-01-05 06:48] kisielk opened #6 "dsp package?"
Trying to figure out where a good place to put commonly-used DSP functions would. It seems like they would be commonly used across a lot of the packages in the project, so maybe a dsp package? Should it be github.com/go-audio/dsp or github.com/go-audio/audio/dsp?

[2017-01-05 06:50] mattetti commented on #6
I think it should be `github.com/go-audio/dsp`. Btw I started toying with something similar: https://github.com/mattetti/audio/tree/master/dsp  It's far from good tho.

[2017-01-05 07:44] mattetti commented on #5
@kisielk here is a first quick pass: https://github.com/go-audio/examples/blob/master/format-converter/main.go I was running out of time so it's a pretty lazy implementation that loads the entire file in the buffer instead of streaming the buffer. I'll get back to it a bit later.

Note that this API is mainly about decoders/encoders which obviously is quite different from the processing APIs. I th

[2017-01-05 08:01] mattetti commented on #3
I really like @nigeltao proposal here https://github.com/go-audio/audio/issues/3#issuecomment-270553932 . I had something similar earlier: https://github.com/mattetti/audio/blob/master/pcm_buffer.go#L43 But I couldn't find a way to properly read/write the buffer, Nigel solves that nicely with:

[code]

The part I don't understand is how do you avoid the type conversion if you aren't working in flo

[2017-01-05 08:36] egonelbre commented on #3
I think we need to clarify the terms. Here's how I understand the core terms of audio:

1. `Buffer`: uncompressed PCM buffer for processing (usually []float32 array, with some additional info)
2. `Stream` (`...Writer`/`...Reader`): it is often seekable, and can sometimes only be read/written in `Frame`s.
3. `Frame`: a chunk of audio data. The `Frame` format/size can be different from `Buffer` and

[2017-01-05 18:38] briansorahan commented on #3
This is my 2 cents as well as shameless self promotion.
I created package [sc](https://github.com/scgolang/sc) specifically so that I could make synths with Go without having to worry about whether or not it is suitable for real-time audio.
Admittedly, I hate sclang as a programming language and my use case is pretty specific. I simply want to make synths that run on my laptop which I can wire up

[2017-01-05 19:15] kisielk commented on #3
Real-time audio processing isn't only about synthesis or effects for music / experimental purposes. There's lots of other practical applications, eg: VoIP

Other tools are good, but they also impose additional overhead on a project. If the rest of your application is in Go, you now need to have some way to interface with those. Building and distributing your software becomes more complicated. It's

[2017-01-05 19:23] egonelbre commented on #3
My main reason is writing games with dynamic audio in Go (e.g. first thing I'm going to try is adding it to https://github.com/loov/zombies-on-ice; the hammer would have pitch based on the speed and smashes are panned based on player location). I could use existing audio-libs, but it means a huge annoyance in compiling things.

The lowest I have gotten on Windows is 512 samples ~ 11ms latency. It

[2017-01-05 20:31] mattetti commented on #3
At work we do server side processing and analysis, we are also planning on doing more on desktop and there is little reason not to use Go. We don't currently really need real time audio but that might become a thing as we grow a good library. Go could also make it for a great language to write instruments on something like a Pi that should be plenty powerful enough to behave very well. Remember th

[2017-01-06 00:37] nigeltao commented on #3
It'd be similar to the image.Image type in the standard library, and how the image/draw package type switches for faster (or less allocate-y) code paths. An audio gain filter would take a Buffer argument (the interface type). It would type switch on some well known, common, concrete types, such as F32Buffer or I16Buffer. For an I16Buffer, it would read and write int16 values, without calling the R

[2017-01-06 02:26] mattetti commented on #3
I really like this approach, here is the Draw function code: https://golang.org/src/image/draw/draw.go?s=2824:2903#L90

It keeps the API simple, avoids a lot of duplicated methods and offers a nice fallback.

[2017-01-06 08:50] egonelbre commented on #3
@nigeltao first version of toy audio codec in my version:

* [interface](https://github.com/egonelbre/exp/commit/891f1f0c200510ffbf72d1d6e2c41a91e5679ec4#diff-ae9a713201db46530fd0ef88eee662e6R45)
* [implementation](https://github.com/egonelbre/exp/commit/891f1f0c200510ffbf72d1d6e2c41a91e5679ec4#diff-e2bff59fe9dc54d670ca26a67c6eb526)
* [usage](https://github.com/egonelbre/exp/commit/891f1f0c200510f

[2017-01-06 11:21] egonelbre commented on #3
And... after thinking about it, I realized that when you do not expose the Stream/Device internals the code becomes [much clearer](https://github.com/egonelbre/exp/commit/9442f8e4262bd4ace863eaed560b0dae554d3abe). This of course doesn't mean that when you know the internals you could still use it via type switching -- alternatively Stream could have a "PreferredBuffer32"/"PreferredBuffer64" method

[2017-01-06 16:15] kisielk commented on #3
Do you think it's really necessary to return the number of samples processed? What's a situation where you'd want to process something smaller than the given buffer size? Also does the number indicate number of bytes, or number of frames?

[2017-01-06 16:45] egonelbre commented on #3
The main use case is when you are doing conversion of an existing audio with (large) buffers.

The alternative approach is to expose the number of frames still available, but this could get problematic with stream where you don't know that number in advance. Unfortunately, I don't know a good design that avoids it. The [Frame](https://github.com/egonelbre/exp/commit/891f1f0c200510ffbf72d1d6e2c41a9

[2017-01-06 16:51] egonelbre commented on #3
PS: the `Process32` means a generic operation read or write; e.g. it could mean reading data from a microphone.

[2017-01-06 18:38] kisielk commented on #3
It seems like the buffer needs to have something equivalent to a len and capacity. Suppose you pass a buffer of size M to node1. It fills the buffer with N frames and returns n. Now you pass the buffer to node2. How does node2 know that it should only process N frames when the buffer is of size M?

[2017-01-06 18:42] taruti commented on #3
I feel like we might be going into this too much abstract API first.

There are many audio libraries in Go, would it help to look at them and see what actual minimal definitions would help e.g. when switching from one library to an another?

Easy things to unify could be:
+ audio sample format constants
+ how to read samples from a library audio input source in the preferred format (the available

[2017-01-06 18:55] egonelbre commented on #3
Yeah, I thought about it. You would need `ReadHead` and `WriteHead`, you already have the capacity in the Buffer; playing around with cap/len would be possible, but it would make writing to the buffer more annoying.

Currently I've changed the buffer outside the node, and make a temporary "Buffer" with the same backing slice, but with different head and len. See https://github.com/egonelbre/exp/bl

[2017-01-06 19:05] mattetti commented on #3
I would like to focus on the buffer only for now and keep the API small. So far I like Nigel proposal the best, we can remove the AsXxx methods from my proposal and get something similar to image.Image.

Once we are happy with that and have an implementation we can test it further against things like other abstractions and other existing libraries that might exist. (The game engine Nigel linked to

[2017-01-06 19:05] mewmew commented on #3
Just to add to the list. There exist a FLAC decoder written in Go at [github.com/mewkiz/flac](https://github.com/mewkiz/flac) with a front-end decoder for the [audio decoder interface](https://godoc.org/azul3d.org/engine/audio#Decoder) defined by Azul3D at [github.com/azul3d/engine/audio/flac](https://github.com/azul3d/engine/tree/master/audio/flac).

My brother and I have begun implementing a fro

[2017-01-06 19:08] egonelbre commented on #3
Something particular you would like to point out in the code?

Much of my design has also involved going through multiple audio API-s and designs. Although I haven't looked at Go audio libs in particular.

However, I think the approach of trying to base a new library to improve others doesn't yield good results. The approach of "implement first" and see how it can be fit into/with other libs has g

[2017-01-06 20:10] mattetti commented on #3
@mewmew https://godoc.org/azul3d.org/engine/audio#Buffer is interesting but the implementation bothers me a little, especially the custom types such as https://godoc.org/azul3d.org/engine/audio#Slice

It would be interesting to see if we can make our Buffer interface and implementations compatible with azul3d's audio lib. Take a look at https://github.com/go-audio/audio/issues/3#issuecomment-27055

[2017-01-08 14:07] briansorahan commented on #3
@kisielk I raise the concern about glitches since typically code that is expected to run in realtime should never do any allocations. glibc malloc locks since it is thread safe, hence should never be used in realtime code. Maybe another libc would be better, I'm not sure. Totally agree on the annoyance of using external C code or co processes btw. I have plenty of complaints about SuperCollider no

[2017-01-09 11:46] egonelbre commented on #3
Was wondering about interface perf and did some [basic benchmarks](https://github.com/egonelbre/exp/commit/1adaaacc006f99733fdf8b432915c2e199c44da5)... tl;dr; overhead of interface seems to be insignificant. *I did not examine whether there are cases where it could inline the direct calls.*

But, using sample based callbacks is significantly worse (2x).

Raw stats:
[code]

[2017-01-10 05:53] mattetti commented on #3
I had a hard time trying to pinpoint what bothers me. Overall, there is nothing wrong with the approach so it's quite subjective. Let me try to explain what is going through my head and we can discuss each point.

I'm not a fan of the `process32`, `process64` methods on the 3 buffers. It doesn't help that the code isn't documented but to me `process` means "a series of interdependent operations ca

[2017-01-10 06:45] kisielk commented on #3
I also agree that the `process*` methods should probably stay off the buffers. I like types that have fewer responsibilities and so I think a buffer type should mostly just take care of carrying and describing the data. Best not to conflate the processing there as well.

Since the underlying data type of a buffer can vary I can see only a few paths for ways to develop functions that can take any k

[2017-01-10 09:18] egonelbre commented on #3
There are two reasons why I prefer not to comment prototypes:
* it wastes time on things that can change rapidly (i.e. several times a day)
* it makes mistakes in API more obvious, e.g. if someone with sufficient knowledge doesn't understand what something does, just by reading code it indicates there's something wrong with the API

Yeah, after reading what you and @kisielk; and some thinking on m

[2017-01-10 09:27] egonelbre commented on #3
Yeah, I have to agree that having a single `interface Buffer` and accepting that in nodes makes the API cleaner and avoids some of the duplication in setup/teardown for processor nodes. I will adjust my design accordingly.

[2017-01-11 06:30] mattetti commented on #3
I very rarely use the concept of duration when working with audio. You referred to VST/AU and the process function of plugins. In this specific case, the plugin implements a function that receives a pointer to an array and modify that buffer in place. The receiver has no notion of duration, if the developer wanted to implement a delay for instance, the host BPM would be used, and the delay would b

[2017-01-11 08:27] egonelbre commented on #3
For writing audio code yes. But for *using* audio code I would say that you exclusively expose durations. e.g. when you create an Echo node, you specify the delay in seconds not frames. Internally, yes, everything eventually ends up as frames.

For the seeking part. The most likely usage I can imagine is this:

[code]

Or did you mean some other use-case when you talked about seeking?

[2017-01-27 17:45] mattetti commented on #3
back from NAMM, need to catch-up on a few things and I'll work on implementing Nigel's suggestion to see how it looks.

[2017-01-27 17:51] egonelbre commented on #3
Few notes about my experiments with different things:

1. Implementing `Processor`-s on an interleaved buffer is much more effort than on a non-interleaved version.
2. Supporting multiple buffer formats manually is annoying.

[2017-01-27 18:34] mattetti commented on #3
@egonelbre can you say more, especially about #1?

[2017-01-27 19:36] egonelbre commented on #3
The main issue comes from trying to handle the different channels, just as an example it would often end up something like this:

[code]

And this only accounts for two channels. For more channels, you would need more cases to properly optimize them and handle the striding. I suspect because of the `+= 2` or `+= 3` will do worse optimizations, but I haven't checked this. _With convolution somethin

[2017-02-11 20:55] egonelbre commented on #3
@mattetti I just converted my experiment to use split channels, the full difference can be seen here https://github.com/egonelbre/exp/commit/8c77c7973a5e12deb074fb8a1c0780b3d530adfd?diff=split#diff-b1e66adfee4cfc554526b30559e7e612

[2017-02-15 17:41] mattetti commented on #3
I'm back at looking at what we can do to design a generic buffer API. @egonelbre I don't think isolating channels is the way to go, we can more than likely implement an API similar to your `channel()` passing an iteration function that will be fed every samples in a channel for instance. From everything I've seen so far, samples are always interleaved (that said I'm sure there are counter examples

[2017-02-15 18:24] mattetti commented on #3
Taking notes:

Text transformer & chain interfaces: https://godoc.org/golang.org/x/text/transform#Transformer (similar to what an audio transformer interface could be but passing a buffer)

In regards to the Draw package, it starts from an `Image` interface:

[code]

The interface is implemented by many concrete types such as:

[code]

or

[code]

A gif image is implemented as such:

[code]

When

[2017-02-15 18:39] kisielk commented on #3
@mattetti that's a good find.

Maybe the audio interface could have functions that return / set values for a particular channel, sample pair as either float64 or int. Then the underlying data could be in a more optimized form and functions that need the highest performance can use a type switch and operate on the data directly.

[2017-02-15 18:42] kisielk commented on #3
I'm thinking something like:

[code]

[2017-02-15 20:07] egonelbre commented on #3
There seem to be two uses:
1. reading & writing... buffer usually interleaved. e.g. most audio formats and devices.
2. processing... buffer usually split. e.g. VST, AU (V2), WebAudio, AAX, RTAS, JUCE

With callbacks and call per sample, the overhead is an issue; if it could be inlined and better optimized, it would make some things much nicer.

For the 1. case, you don't always have random access

[2017-02-15 20:19] mattetti commented on #3
Can you point me to documentation/code regarding #2, the VST plugin I implemented from scratch was getting getting a buffer of interleaved samples in a processing function that had for job to modify it if needed (or populating it). Same thing applies to Web Audio Buffer AFAIK: https://developer.mozilla.org/en-US/docs/Web/API/AudioBuffer

[2017-02-15 20:21] mattetti commented on #3
I was apparently wrong:

But the API clearly exposes a way to get the channel number: `AudioBuffer.numberOfChannels` You can also decode a stereo track into a buffer so I'm super confused. Ok I'm not confused anymore, the documentation is misleading, Web Audio is storing the channel PCM data in separate internal buffers accessible through `getChannelData(channel)` confirming what you were saying.

[2017-03-01 01:49] mattetti commented on #3
Quick update: this interleaved vs not interleaved issue got me stuck. I instead opted to do a lot of work on my wav and aiff decoders, make sure the buffered approach worked and was documented/had examples. I spent a decent amount of time improving the 24bit audio support for the codecs (my implementation was buggy but hard to verify, tests were added).

At this point, I still think Nigel/image pk

[2017-03-11 16:38] brettbuddin commented on #3
Took me a bit to get caught up on the state of the discussion.

One of the early decisions I made with Eolian was to focus on a single channel of audio. This is mostly because I didn't want to deal with interleaving in processing and I didn't have a decent implementation for keeping channels separate at the time. I've wanted to implement 1-to-2 (and back) conversion modules for some time now, but

[2017-03-14 15:33] egonelbre commented on #3
While implementing different things I realized there is one important case where int16 is preferrable -- ARM -- or mobile device in general. Looking at [pure op stats](http://nicolas.limare.net/pro/notes/2014/12/12_arit_speed/,) there's around 2x performance difference between using float32 and int16. Of course, I'm not sure how directly these measurements translate into audio code, but it is some

[2017-03-30 03:44] mattetti commented on #3
Here is the API superpowered uses to deal with offline processing:
https://github.com/superpoweredSDK/Low-Latency-Android-Audio-iOS-Audio-Engine/blob/master/Examples_iOS/SuperpoweredOfflineProcessingExample/SuperpoweredOfflineProcessingExample/ViewController.mm#L79

Here is how they deal with real time audio: https://github.com/superpoweredSDK/Low-Latency-Android-Audio-iOS-Audio-Engine/blob/master

[2017-03-30 08:40] egonelbre commented on #3
Yup, interleaved is faster to process... I was concerned about whether using buffer[i+1] etc. would introduce a bounds check in the tight loop. But it seems it is not: https://play.golang.org/p/EkNPEjU3bS
[code]

It seems that the optimizer can deal with it nicely. Disabling bounds checks had no effect on the results. However using "variable" number of channels has a quite impact.

Still, it is mo

[2017-03-30 15:39] brettbuddin commented on #3
~~Is there a case where you wouldn't be aware of how many channels of audio there are in your stream? The variable method doesn't seem all that valuable to me.~~

**Edit:** Nevermind. I misread the example. Disregard this question.

[2017-04-29 20:18] faiface commented on #3
(Reposting from [Pixel gitter](https://gitter.im/pixellib/Audio)).

Just a quick point here from me (got some work right now, will come with more ideas later). Looking at go-audio, I don't really like the core Buffer interface at all. It's got way too many methods, none of which enables reading data from it without converting it to one of those 3 standard formats. Which makes it kind of pointless

[2017-06-07 01:13] mattetti opened #8 "int buffers should track the bit depth of the input"
because of the float conversion, we need to track the bit depth of the input so we can properly scale the input. Currently the code expects an int16 input which is wrong.

[2017-06-07 06:41] egonelbre commented on #8
Wouldn't using `Int16Buffer` be a sufficient solution or would it throw off some other design consideration?

Which code expects the int16? I mean if this is the source or sink of the pipeline, then the corresponding endpoint could take care of correctly scaling the Float buffer?

[2017-06-07 06:45] mattetti commented on #8
Here is the issue: https://github.com/go-audio/audio/blob/master/audio.go#L210
[code]

```math.Pow(2, 8*2-1)``` assumes that the bit depth of the int is 2 bytes, but if the sample was a 24bit sample, I don't think the result will be correct.

[2017-06-07 09:53] egonelbre commented on #8
I think the fundamental issue is that IntBuffer isn't with specific width. I.e. it probably should be Int32Buffer.

This also means that when storing uint8, int8, uint16, int16, int24, int48 etc.. will hit similar issue. Plus the additional issue, when running on 32bit, and storing int48, then the potential clipping.

[2017-06-10 17:59] mattetti commented on #8
I agree, I'm planning on redoing the implementation more like what I had at the beginning with a generic buffer backed by different types so we can workaround these issues without making the API super complicated.

[2017-06-11 05:16] mattetti commented on #8
I worked around the issue by having a new source bitdepth field in the buffer and when doing the conversion if the field isn't set, I try to guess it. It's not ideal but it should work most of the time. I also updated the PCM decoders to set those fields.

[2017-06-11 05:16] #8 closed

[2017-06-11 06:04] #5 closed

[2017-07-14 14:14] faiface commented on #3
Hi guys,

as you could've noticed on [Reddit](https://www.reddit.com/r/golang/comments/6n1plq/choose_the_name_for_a_new_audio_library_in_go/?utm_content=comments&utm_medium=hot&utm_source=reddit&utm_name=golang), a month ago we've started working on an audio package in [Pixel](https://godoc.org/github.com/faiface/pixel) and we want to make it a separate library.

Throughout the month, we learned n

[2017-07-14 14:20] mattetti commented on #3
I wasn't aware of this new audio package. I'll definitely check it out. One thing that surprised me is the fact that your streamer interface seems to be locked to stereo. Is that correct?

[2017-07-14 14:23] faiface commented on #3
Yes that is correct. This no problem for mono, mono can always be easily turned into stereo. This is only a problem for more channels than stereo offers. I'm open to solutions for this. So far, it's like "stereo is enough", but that might not be true.

[2017-07-14 14:46] faiface commented on #3
The idea of replacing go-audio was a bit too rushed, upon second though, it's probably not a good idea. However, I still suggest that go-audio changes its core interfaces away from buffers and towards streaming.

[2017-07-14 15:07] mattetti commented on #3
We definitely need to have support for surround/multichannel audio formats. Let me take a look next week and write down my thoughts and see if we can go from there.

[2017-07-14 15:27] egonelbre commented on #3
@faiface I'm unclear about the comment that "buffers in the high-level API are not a very good idea for real-time". I mean your design still uses buffers i.e. the `samples [][2]float32` parameter.

I do agree that the end-user of things like player, effects, decoding, streaming, encoding, shouldn't have to worry about buffers. But internally handling of buffers is unfortunate, but necessary. E.g.

[2017-07-14 15:39] faiface commented on #3
@egonelbre Of course, internally there usually are some buffers, however, this API minimizes their use. This is in contrast to OpenAL, which requires you to create and fill a buffer if you want to play anything. This results in additional copying between buffers and so on. Maybe that can be implemented efficiently, however, OpenAL does not implement it efficiently enough. Note, that when calling `

[2017-07-14 23:48] egonelbre commented on #3
Yup, I agree that within a single pipeline you will most likely use a single sample rate. However, a server that does audio-processing in multiple threads might need different sample-rates. _But, I'm also not completely clear how big of a problem this is in real-world._

With regards to `float64`. On ARM there's a (potential) performance hit that you take due to processing `float64` instead of `fl

[2017-07-14 23:48] 200sc opened #9 "Default Stereo formats have Single channel"
The formats in formats.go are identical whether they are stereo or mono. We'd probably expect Channels to be 2 for stereo formats. If this is intentional, maybe there should be a note about it?

[2017-07-15 00:06] faiface commented on #3
I believe that you and I agree that having to implement each filter/effect/compositor for each sampling format (mono, stereo, int8, int16, float32, ...) is awful. So yeah, one way probably is code generation, although I'm not sure how feasible this is.

The question I think is in place is: is it worth to support all the formats within the audio processing stage? I decided to answer this question w

[2017-07-15 05:19] mattetti commented on #3
Go audio is very much a work in progress and far from it's final form. Your
feedback and library are very useful and very much appreciated.
Creating a solid API for very different use cases is really hard. For
instance I am dealing with VST plugins and hosts and there are cases where
not using float32 isn't an option. I also want to be able to eventually
optimize our compiled code as Egon was talk

[2017-07-15 05:46] egonelbre commented on #3
I completely understand the reasoning for not supporting the different options I described. I think it's important to examine the potential design-space as fully as possible.

_Note, the Gain function you have there can produce clicking noise. i.e. try switching between gain 0 and 1 every ~100ms. Not sure where the gain value comes from, how it's modified and how big are your buffers... so it migh

[2017-07-15 11:00] faiface commented on #3
One of the reasons why I concluded that beep is not a good fit for go-audio is that I deliberately make compromises to enable simplifity and remove the pain of audio programming, but that gets in the way of universality, so we're aiming at slightly different goals.

Regarding clicking in Gain, I don't think it's Gain's responsibility to fix that. You know, if you start playing PCM data in the midd

[2017-07-15 11:40] egonelbre commented on #3
@faiface Some WAVE samples here: https://en.wikipedia.org/wiki/WAV#WAV_file_audio_coding_formats_compared. And a list of things libsndfile supports http://www.mega-nerd.com/libsndfile/. Although, you can pretty far by just supporting PCM u8, s16, s24, s32, s64 and IEEE_FLOAT 32, 64, mulaw and alaw.

[2017-07-15 14:47] faiface commented on #3
@egonelbre With WAVE, only PCM support is planned so far, as PCM seems to be close to 100% of the existing usage. Currently supported are u8 and s16, but float32 support will be added shortly. I believe these cover an overwhelming majority of what's out there.

[2017-11-08 05:48] easykoo opened #12 "is there any voice recorder package in go?"
is there any voice recorder package in go?

[2017-12-03 17:04] #9 closed

[2017-12-03 22:22] mattetti commented on #12
Not really, you are probably looking for a portaudio wrapper such as https://github.com/gordonklaus/portaudio to get the audio from your sound card. This package allows you to convert and process the signal.

[2017-12-03 22:22] #12 closed

[2018-01-21 00:20] dh1tw opened #14 "Incorrect conversion of Float to Int"
Hi,

I tried to convert a `Float32Buffer` to an `IntBuffer`, resulting in silence. Problem is, that the current implementation has a flaw:

https://github.com/go-audio/audio/blob/9867513453de590a60792e5c5a033f608e7f1404/float_buffer.go#L36

https://github.com/go-audio/audio/blob/9867513453de590a60792e5c5a033f608e7f1404/float_buffer.go#L107

Float audio samples use the value range of `-1....0....1`

[2018-02-06 23:31] mattetti commented on #14
@dh1tw there is a transform for that https://github.com/go-audio/transforms/blob/master/pcm_scale.go#L27 It does expect that you kept around the original bit depth. you can see that the `PCMBuffer` uses `SourceBitDepth` to track that. The Float32Buffer also does have that field: https://github.com/go-audio/audio/blob/master/float_buffer.go#L85

I still do need to go and clean up the other types bu

[2018-07-28 07:15] brydavis opened #16 "Play sample loud and choppy"
Trying to use PortAudio to play... It's super loud and choppy.

	package main

	import (
		"flag"
		"fmt"
		"io"
		"os"

		"strings"

		"github.com/go-audio/audio"
		"github.com/go-audio/wav"
		"github.com/gordonklaus/portaudio"
	)

	var (
		flagInput  = flag.String("input", "/Users/brydavis/sounds/The Malinchak Show Episode 108.wav", "The file to convert")
		flagFormat = flag.String("format", "wa

[2018-07-28 07:28] brydavis commented on #16
Well, for some reason, when I set `framePerBuffer := 8192` and `out := make([]int16, framePerBuffer)`, things seem to work fine...

Based it on [this example](https://github.com/gordonklaus/portaudio/blob/master/examples/mp3.go).

[2018-10-04 16:23] wsc1 commented on #3
@faiface audacity uses float32 wav

[2018-10-04 16:31] wsc1 commented on #3
Hi all,

There is [an issue](https://github.com/golang/go/issues/10958) about pre-emption in go runtime which can influence reliability of audio i/o.

Also, [zc/sio](http://godoc.org/zikichombo.org/sio/libsio#Cb) is a work in progress to deal with audio callback APIs like CoreAudio, AAudio, Jack which operate on a foreign usually real-time thread.
The goal is to make the path to the callback free

[2019-04-29 08:45] chfanghr opened #18 "float32 buffer to int buffer conversation should be corrected"
I wnated to convert an ogg file to aiff format, so I used oggvorbis to decode an ogg audio file and the package give me a decoded float32 array, and then goo-audio/aiff to encode pcm data .Then I found that the encoder only accept an IntBuffer, so I made a FloatBuffer and use its AsIntBuffer method to make a conversation, and this method didn't give me the proper result. I look into the code and f

[2019-04-29 08:55] chfanghr commented on #18
&emsp;&emsp;Here is the result.On the left side is the generated one, and  the expected one is on the right.
[code]
![image](https://user-images.githubusercontent.com/40087668/56885632-b8cf3b80-6a8e-11e9-9ed0-efcfae95f8a9.png)

[2019-04-29 11:01] egonelbre commented on #18
It's expected to use a transform prior to converting things. https://github.com/go-audio/audio/blob/master/float_buffer.go#L111 and https://godoc.org/github.com/go-audio/transforms#PCMScaleF32

[2019-04-30 03:57] mattetti commented on #18
Egon is right and that's obviously confusing... I wonder if we can make the API more obvious or less complicated to use.

[2019-04-30 11:56] chfanghr commented on #18
My currnet solution is buggy which introduces too much noise. Actually, we need to do resample for a better result.

[2019-04-30 12:00] chfanghr commented on #18
I would like to try to implement this stuff these days.

[2019-05-04 07:01] asciifaceman commented on #18
Out of curiosity is it expected that if you have an `[]int8{1, 2, 3}` that it's float32 conversion would be `[]float32{2, 4, 6}`?

Admittedly I simply don't know.

[2019-05-04 13:48] mattetti commented on #18
No, the int scale values depend if the bit depth of the package and would be converted to the range -1, 1

[2019-11-29 09:16] bh90210 commented on #6
I was wondering if there is any progress with the dsp package?

again I realize how much time has past so a fork from your repo will be fine but I thought to take the opportunity and ask how is `go-audio` project going in general. It seems a bit stale these days. Any plans to rejuvenate? Or is it silently dropped as an effort?

[2019-11-29 16:09] mattetti commented on #6
The encoders/decoders work well and are used in prod at scale. The DSP stuff however was never pushed too far and I'm not currently working on it. There was a big DSP effort done in https://github.com/zikichombo Really great stuff but I don't have personal DSP need in Go at the moment so I'm not focusing on it. However I'd be more than happy to accept contributions.